/*
main background  : #4C5C4E background lightened by 15
input background : #2A332B background
input text       : #D8EBE5 input (plain) .pln
outputbackground : #4C5C4E background darkened by 5
rgba input start : rgba(216, 235, 229 input converted to rgb
function         : #BCD42A .lit
keyword          : #FF5D38 .atn
string/number    : #BCD42A .str
comment          : #4F6E64 .com
*/



body {background-color: #4C5C4E;}


body > #header {
    display: none;
    background-color: #4C5C4E;
    position: relative;
    z-index: 100;
}



a {color: #D8EBE5; font-family: 'Helvetica', sans-serif; }
div#notebook, div.CodeMirror, div.output_area pre, div.output_wrapper, div.prompt, div.CodeMirror pre {font-family:'Monaco', monospace; font-size: 11pt;}

/* Hiding the ipython log */
div#ipython_notebook {display: none;}


/* INTRO PAGE */
.toolbar_info {color: #D8EBE5; font-size: 12pt; border: 0; font-family: 'Helvetica', sans-serif; text-shadow: none !important; }
.list_container {color: #D8EBE5; font-size: 12pt; border: 0; font-family: 'Helvetica', sans-serif;text-shadow: none !important; }
.breadcrumb>li {text-shadow:0 0px 0; color:#D8EBE5; font-family: 'Helvetica', sans-serif; font-size: 12pt}
.list_container a {color: #D8EBE5; font-family: 'Helvetica', sans-serif; font-size: 12pt; border: 0; text-shadow: none !important; }
.item_icon {color: #D8EBE5;}

/*<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>
*****************************************
 COMMENT THIS LINE OUT TO RESTORE TOOLBAR
*****************************************
 <<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>> */

/*div#maintoolbar {
    display: none !important;
}*/
/*.container { width:75% !important; }*/


.form-control:focus {
    border-color: #D8EBE5;
    outline: 0;
    -webkit-box-shadow: none;
     box-shadow: none;
}

.btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
    color: #4C5C4E;
    background-color: #D8EBE5;
    border: none;
}

#toc-wrapper {
    position: fixed;
    top: 120px;
    max-width: 230px;
    right: 20px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: #2A332B;
    opacity: 1.0;
    z-index: 100;
}

div.list_container a:hover {color: #D8EBE5;}
.list_header {
    font-weight: normal;
    background-color: #B82020;
}
div.list_container :hover {
    background-color: #B82020;
    color: #D8EBE5;
}
div.notebook_list_header {
      background: #4C5C4E;

}

.list_container > div {
    border-bottom: 1px solid rgba(216, 235, 229, 0.55);
    font-size: 12pt;
}
.panel-default {
    border-color: rgba(216, 235, 229, 0.55);
}
.panel {
    line-height: 22px;
    fontsize: 12px;
    margin-bottom: 18px;
    background-color: #4C5C4E;
    color: #D8EBE5;
    border: 2px solid rgba(216, 235, 229, 0.55);
    box-shadow: none;
}
.dropdown-menu {
    border: 1px solid rgba(216, 235, 229, 0.95);
    background-color: #4C5C4E;
    background: #4C5C4E;
    box-shadow: none;
    padding-top: 0px;
    padding-bottom: 0px;
    list-style: outside none none;
    font-size: 12pt;
    text-align: left;
}
.dropdown-menu:hover{
    background-color: #4C5C4E;
    border: 1px solid rgba(216, 235, 229, 0.95);
    box-shadow: none;
    padding-top: 0px;
    padding-bottom: 0px;
}
.modal-content {
    position: relative;
    background-color: #4C5C4E;
    border: 1px solid rgba(216, 235, 229, 0.15);
    border-radius: 3px;
    box-shadow: 0px 3px 9px rgba(216, 235, 229, 0.25);
    background-clip: padding-box;
    outline: 0px none;
}
.dropdown-header {
    display: block;
    padding: 3px 20px;
    font-size: 12pt;
    line-height: 1.42857;
    color: #4C5C4E;
    text-decoration: underline;
    text-decoration-color: rgba(216, 235, 229, 0.95);
    white-space: nowrap;
}
.dropdown-menu > li > a {
    border: 1px solid #4C5C4E;
    display: block;
    padding: none;
    clear: both;
    background-clip: padding-box;
    font-weight: normal;
    line-height: 1.42857;
    color: #D8EBE5;
    white-space: nowrap;
    background-color: #4C5C4E;
    background: #4C5C4E;
}
.dropdown-menu > li > a:hover {
    background-clip: padding-box;
    background-color: #4C5C4E;
    border: 1px solid #4C5C4E;
    color: #BCD42A;
    padding: none;
    background: #4C5C4E;
}
.dropdown-menu .divider {
    height: 2px;
    margin: 8px 0px;
    overflow: hidden;
    background-color: rgba(216, 235, 229, 0.95);
}
.dropdown-menu > .disabled > a, .dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
    color: #4C5C4E;
}
.modal-header {
    padding: 15px;
    border-bottom: 1px solid rgba(216, 235, 229, 0.95);
    min-height: 16.4286px;
}
#running .panel-group .panel .panel-heading {
    background-color: #4C5C4E;
    padding: 4px 7px;
    line-height: 22px;
}
#running .panel-group .panel .panel-heading a:hover {
    color: #D8EBE5;
}
#running .panel-group .panel .panel-body .list_container .list_item {
    border-bottom: 1px solid rgba(216, 235, 229, 0.55);
}

#project_name > .breadcrumb {
    font-weight: normal;
    color: #D8EBE5;

}
.rendered_html pre, .rendered_html code {
    font-size: 12pt;
    color: #D8EBE5;
    line-height: 100%;
    background: #2A332B;
}
body {
    font-family: "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 12pt;
    line-height: 1.42857;
    color: #D8EBE5;
}

#kernel_indicator {
    float: right !important;
    color: #D8EBE5;
}
#kernel_indicator .kernel_indicator_name {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 13pt;
}
#modal_indicator {
    float: right !important;
    color: #D8EBE5;

}

.CodeMirror pre {
  font-family: 'Monaco', monospace;
  font-size: 13pt;
}

.notebook_app {
    background-color: #4C5C4E;
}
.notebook_app #header {
    box-shadow: none !important;
}
#notebook-container {
    padding: 15px;
    background-color: #4C5C4E;
    min-height: 0px;
    box-shadow: none;
}
#header {
    box-shadow: none;
    background-color: #4C5C4E;
    position: relative;
    z-index: 100;
}
#header-container {
    padding-bottom: 5px;
    display: none !important;
    box-shadow: none;
}
#header .header-bar {
    background: #4C5C4E !important;
}
/* text in output area (i.e. print some_list) */
div.output_html {color: #4C5C4E;}

/* Formatting code in text, code*/
.rendered_html table, .rendered_html th, .rendered_html tr, .rendered_html td {
  border: 1px #D8EBE5 solid;
  color: #D8EBE5;
  background-color: #2A332B !important;
  align-content: left !important;
}
.navbar-default {
    background-color: #4C5C4E;
    border-color: #4C5C4E;
}
#menubar .navbar {
    border-top: 1px;
    border-radius: 0 0 2px 2px;
    margin-bottom: 0;
    margin-top: 8px;
}
.navbar-default .navbar-nav > li > a {
    color: #D8EBE5;
    font-size: 14pt;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #BCD42A;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #BCD42A;
}
.btn {
    color: #D8EBE5;
    background: #4C5C4E;
    font-size: 12pt;
    font-weight: normal;
    border: 0 none !important;
    box-shadow: none !important;
    text-shadow: none;
    vertical-align: 0px;
}

.btn-group > .btn-mini {
    color: #D8EBE5;
    background: #4C5C4E;
    font-size: 11pt;
    font-weight: normal;
    border: 0 none !important;
    box-shadow: none !important;
    text-shadow: none;
}
.btn:hover {
    color: #D8EBE5;
    background: #4C5C4E;
    background-color: #4C5C4E;
    background-image: none;
}
.btn-group > .btn-mini:hover {
    color: #D8EBE5;
    background: #4C5C4E;
    background-color: #4C5C4E;
    background-image: none;
}
.btn-group, .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.ipython_tooltip {
    border: 2px solid #D8EBE5;
    box-shadow: none;
    border-radius: 2px;
    position: absolute;
    z-index: 1000;
    background-color: #4C5C4E;
}

.ipython_tooltip .tooltiptext pre {
    border: 0px none;
    border-radius: 0px;
    background-color: #4C5C4E;
    color: #D8EBE5;
}
/* Formatting code in markdown cells */
div.text_cell_render {
    font-family: 'Helvetica', sans-serif;
    background: #2A332B;
    font-weight: 310;
    color: #D8EBE5;
}
/* Formatting code in markdown cells */
div.text_cell_render pre {
    color: #D8EBE5;
    background-color: #2A332B;
}
div.text_cell {
    max-width: 100%;
    color: #D8EBE5;
}
div.text_cell_render h1,
div.text_cell_render h2,
div.text_cell_render h3,
div.text_cell_render h4,
div.text_cell_render h5,
div.text_cell_render h6 {
    font-family: 'Helvetica', sans-serif;
    background: #2A332B;
    font-weight: 300;
    color: #D8EBE5;
    line-height: 80%;
}

/* text in output area (i.e. print some_list) */
div.output_html {color: #D8EBE5;}

/* Formatting code in text, code*/
.rendered_html table, .rendered_html th, .rendered_html tr, .rendered_html td {
  border: 1px #D8EBE5 solid;
  color: #D8EBE5;
  background-color: #4C5C4E !important;
  align-content: left !important;
}

button.close {
    padding: 0px;
    cursor: pointer;
    background: transparent none repeat scroll 0% 0%;
    border: 0px none;
}
.close {
    float: right;
    font-size: 22px;
    font-weight: bold;
    line-height: 1;
    color: #D8EBE5;
    /*text-shadow: 0px 1px 0px rgba(216, 235, 229, 0.2);*/
    opacity: 0.3;
}
.close:hover {
    color: #D8EBE5;
    /*text-shadow: 0px 1px 0px rgba(216, 235, 229, 0.2);*/
    opacity: 0.9;
}
.form-control {
    display: block;
    width: 100%;
    height: 32px;
    padding: 6px 12px;
    font-size: 13pt;
    line-height: 1.6;
    color: #D8EBE5;
    background-color: #2A332B;
    background-image: none;
    border: 1px solid rgba(216, 235, 229, 0.95);
    border-radius: 2px;
    box-shadow: none;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid rgba(216, 235, 229, 0.95);
}
.input-form-control:hover:active {
      background-color:  rgba(216, 235, 229, 0.95);
      selected:  rgba(216, 235, 229, 0.95);
}

span.ansiblack {color: #2b303b;}
span.ansiblue {color: #D8EBE5;}
span.ansigray {color: #B4B7B4;}
span.ansigreen {color: #8FC198;}
span.ansipurple {color: #BE8fC1;}
span.ansicyan {color: #7BC6C0;}
span.ansiyellow {color: #DDD7A3;}
span.ansired {color: #BCD42A;}

div.output_stderr {background-color: #BCD42A;}
div.output_stderr pre {color: #D8EBE5;}

.cm-s-ipython.CodeMirror {background: #2A332B; color: #D8EBE5; font-size:13pt !important;}
.cm-s-ipython div.CodeMirror-selected {background: #4C5C4E !important;}
.cm-s-ipython .CodeMirror-gutters {background: #2A332B; border: 0px; border-radius:0px;}
.cm-s-ipython .CodeMirror-linenumber {color: #4F6E64 !important; font-size: 11pt;}
.cm-s-ipython .CodeMirror-cursor {border-left: 2px solid #D8EBE5 !important;}
.cm-s-ipython span.cm-comment {color: #4F6E64; font-style: normal !important;}
.cm-s-ipython span.cm-atom {color: #FF5D38;}
.cm-s-ipython span.cm-number {color: #BCD42A;}
.cm-s-ipython span.cm-property {color: #BCD42A;}
.cm-s-ipython span.cm-attribute {color: #FF5D38;}
.cm-s-ipython span.cm-keyword {color: #FF5D38; font-weight: normal;}
.cm-s-ipython span.cm-string {color: #BCD42A; font-weight: normal;}
.cm-s-ipython span.cm-operator {color: #FF5D38; font-weight: normal;}
.cm-s-ipython span.cm-builtin {color: #FF5D38; font-weight: normal;}
.cm-s-ipython span.cm-boolean {color: #FF5D38;}
.cm-s-ipython span.cm-variable {color: #D8EBE5;}
.cm-s-ipython span.cm-variable-2 {color: #FF5D38;}

.cm-s-ipython span.cm-def {color: #BCD42A; font-weight: normal;}
/*.cm-s-ipython span.cm-error {background: rgba(191, 97, 106, .3) !important;}*/
.cm-s-ipython span.cm-tag {color: #FF5D38;}
.cm-s-ipython span.cm-link {color: #FF5D38;}
.cm-s-ipython span.cm-storage {color: #FF5D38;}
.cm-s-ipython span.cm-entity {color: #FF5D38;}
.cm-s-ipython span.cm-class {color: #E5DEA5;}
.cm-s-ipython span.cm-support {color: #BCD42A;}
.cm-s-ipython span.cm-qualifier {color: #BCD42A;}
.cm-s-ipython span.cm-property {color: #BCD42A;}



div.CodeMirror span.CodeMirror-matchingbracket { color: #0F0; }
div.CodeMirror span.CodeMirror-nonmatchingbracket { color: #F00; }
.cm-s-ipython .CodeMirror-matchingbracket { color: #0F0; }
.cm-s-ipython .CodeMirror-nonmatchingbracket { color: #F00; }


div.cell { border: medium solid #4C5C4E; padding: 0px; border-radius: 0px; }
div.cell.selected { border: medium solid #D8EBE5; padding: 0px; border-radius: 0px; }
.edit_mode div.cell.selected {border: medium solid #BCD42A !important; padding: 0px; border-radius: 0px; }
div.cell.edit_mode {border: medium solid #BCD42A !important; padding: 0px; border-radius: 0px;}
/*.edit_mode div.cell.selected {border: medium solid rgba(53, 108, 180, .45) !important; padding: 0px; border-radius: 0px; }
div.cell.edit_mode {border: medium solid rgba(53, 108, 180, .45) !important; padding: 0px; border-radius: 0px;}
*/
div.prompt {
    padding: 0.3em;
    margin: 0px;
    font-family: monospace;
    text-align: left;
    line-height: 1.21429em;
    min-width: 11ex;
    font-size: 9.5pt;
}
div.input_area {
    margin-bottom: 0px;
    border: 0px;
    border-radius: 0px;
}
/*Input and output cells formatting*/
div.prompt.input_prompt {
    font-family: 'Monaco', monospace;
    border-right: 2px solid #4C5C4E;
    font-weight: bold;
    font-size: 9.5pt;
    color: #4F6E64;
    background-color: #2A332B;
    width: 1em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
div.prompt.output_prompt {
    font-family: 'Monaco', monospace;
    font-weight: bold;
    background-color: #4C5C4E;
    color: #4C5C4E;
    font-size: 9.5pt;
    width: 1em;
    margin-bottom: 8px;
    padding-top: 1em;
    padding-bottom: 1em;
}
div.out_prompt_overlay.prompt {
    font-family: 'Monaco', monospace;
    font-weight: bold;
    font-size: 9.5pt;
    width: 1em;
    margin-bottom: 8px;
    background-color: #4C5C4E;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}
div.out_prompt_overlay.prompt:hover {
    font-family: 'Monaco', monospace;
    font-weight: bold;
    font-size: 9.5pt;
    width: 1em;
    border-radius: 4px;
    margin-bottom: 8px;
    background-color: #4C5C4E;
    box-shadow: #2A332B 2px 2px 6px 4px inset;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}
div.output_wrapper {
    background-color:#4C5C4E;
    margin-bottom: 0em;
    margin-top: 0em;
    border: 0px;
}
div.output_subarea.output_text.output_stream.output_stdout,div.output_subarea.output_text {
    padding-top: 1em;
    margin-bottom: 8px;
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 8px;
    background-color: #4C5C4E;
    color: #D8EBE5;
}
div.output_area pre {
    color: #D8EBE5;
    font-size: 11pt;
}
div.output_subarea {
    overflow-x: auto;
    padding: 1.0em;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    flex: 1;
    /*max-width: calc(100% - 14ex);*/
}
